
h1 {
  text-align: center;
}
a.active{
  color:darkblue;
}

.nav {
  align-self: center;
}

#card {
  width: 100px;
  height: 100px;
  perspective: 1000px;
  transition: transform 0.6s;
}

#card.flip {
  transform: rotateY(180deg);
}


i.fa{ 
  font-family:FontAwesome!important; 
}



